body{
    font-family: 'Lato', sans-serif;
}

.cal_pickers{
    margin: 1% 32% 0% 32%;
}

.customize-icons{
    font-size: 20px;
}

.modal-body thead th{
    vertical-align: middle !important;
    text-align: center;

}

.table td {

    text-align: justify;
}

.cell_align{
    text-align: center;
}

tbody td {

    vertical-align: middle !important;
}

textarea{
    text-align: justify;
    white-space: normal;
    overflow: auto;
}



.modal-dialog {
    width: 90%; /* desired relative width */
     /*left: 5%; (100%-width)/2 */
    /* place center */

    margin-left:5%;

}