body{
    font-family: 'Roboto Mono', serif;
    margin: 3% 3% 0% 3%;
}

.cal_pickers{
    margin: 3% 32% 0% 32%;
}

.customize-icons{
    font-size: 20px;
}

.modal-body thead th{
    vertical-align: middle !important;
    text-align: center;

}

tbody td {

    vertical-align: middle !important;
}

textarea{
    text-align: justify;
    white-space: normal;
    overflow: auto;
}



.modal-dialog {
    width: 90%; /* desired relative width */
     /*left: 5%; (100%-width)/2 */
    /* place center */

    margin-left:5%;

}