{% load staticfiles %}
{% load get_dates %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reportes de Logs</title>

<script type="text/javascript" src="{% static "logmanagement/scripts/jquery-1.12.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "logmanagement/scripts/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "logmanagement/scripts/bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript"
        src="{% static "logmanagement/scripts/bootstrap/js/bootstrap-datetimepicker.min.js" %}"></script>

<link rel="stylesheet" href="{% static "logmanagement/scripts/bootstrap/css/bootstrap.min.css" %}"/>
<link rel="stylesheet" href="{% static "logmanagement/scripts/bootstrap/css/bootstrap-datetimepicker.min.css" %}"/>
<link rel="stylesheet" href="{% static "logmanagement/scripts/font-awesome-4.6.3/css/font-awesome.min.css" %}"/>
<link rel="stylesheet" href="{% static "logmanagement/css/customize.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic">

<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
</head>
<body>

<div class="well cal_pickers">
    <div class="row">
        <div class="col-md-12">
            <h4 align="center">Monitoreo de integrador  </h4>
            <h5 align="center"> {% current_time "%Y-%m-%d " %}</h5>

        </div>
    </div>
    <div class="row">

        <div class='col-md-12'>
            <div class="form-group">
                Fecha de inicio:
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" id="start_date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-12'>
            <div class="form-group">
                Fecha de Fin:
                <div class='input-group date' id='datetimepicker7'>
                     <input type='text' class="form-control" id="end_date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-12'>
            <button type="button" class="btn btn-md btn-primary" id="btnsubmit">Buscar</button>
        </div>
    </div>
</div>
<br>


<div class="page-header">
    <h2><span class="label label-default">Vista 1</span></h2>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    Numero de errores internos MW: <strong><span id="internal_errors_mw"></span></strong>
                    </div>
                <div class="col-md-6">
                    Numero de errores MW: <strong><span id="errors_mw"></span></strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th colspan="2">
                                        <i class="fa fa-android customize-icons" aria-hidden="true"></i> Android
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Servicios atendidos con &eacute;xito:</td>
                                    <td><strong><span id="success_attended_android"></span></strong></td>
                                </tr>
                                <tr>

                                    <td>Tiempo promedio de servicios atendidos:</td>
                                    <td><strong><span id="avg_time_android"></span></strong></td>

                                </tr>
                                <tr>

                                    <td>Servicios atendidos con fallo:</td>
                                    <td><strong><span id="failed_attended_android"></span></strong></td>

                                </tr>
                                <tr>

                                    <td>Errores de estructura:</td>
                                    <td><strong><span id="structure_errors_android"></span></strong></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <div class="row">
                <div class="col-md-12">


                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <i class="fa fa-apple customize-icons" aria-hidden="true"></i> iOS
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Servicios atendidos con &eacute;xito:</td>
                            <td><strong><span id="success_attended_ios"></span></strong></td>
                        </tr>
                        <tr>

                            <td>Tiempo promedio de servicios atendidos:</td>
                            <td><strong><span id="avg_time_ios"></span></strong></td>

                        </tr>
                        <tr>

                            <td>Servicios atendidos con fallo:</td>
                            <td><strong><span id="failed_attended_ios"></span></strong></td>

                        </tr>
                        <tr>

                            <td>Errores de estructura:</td>
                            <td><strong><span id="structure_errors_ios"></span></strong></td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th colspan="2">
                                        <i class="fa fa-html5 customize-icons" aria-hidden="true"></i> Web
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Servicios atendidos con &eacute;xito:</td>
                                    <td><strong><span id="success_attended_web"></span></strong></td>
                                </tr>
                                <tr>

                                    <td>Tiempo promedio de servicios atendidos:</td>
                                    <td><strong><span id="avg_time_web"></span></strong></td>

                                </tr>
                                <tr>

                                    <td>Servicios atendidos con fallo:</td>
                                    <td><strong><span id="failed_attended_web"></span></strong></td>

                                </tr>
                                <tr>

                                    <td>Errores de estructura:</td>
                                    <td><strong><span id="structure_errors_web"></span></strong></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="page-header">
    <h2><span class="label label-default">Vista 2</span></h2>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th colspan="6">
                                        <i class="fa fa-html5 customize-icons" aria-hidden="true"></i> Web
                                    </th>

                                </tr>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Tipo Error</th>
                                    <th>Id Servicio</th>
                                    <th>Clase java</th>
                                    <th>Archivo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>MarkII</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>


<footer class="footer">
    <p>By Carlos Perez</p>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Archivos de logs</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static "logmanagement/scripts/reportsforlogs.js" %} "></script>

</body>
</html>