<ul class="nav nav-sidebar">
    <li {% if request.path == "/monitoreo/" %}
        class="active"
        {% endif %}>
            <a href="/monitoreo">Middleware Logs <span class="sr-only">(current)</span></a>
    </li>
    <li {% if request.path == "/monitoreo/tomcat/" %}
        class="active"
        {% endif %}>
        <a href="/monitoreo/tomcat">Tomcat Logs</a></li>

    <li{% if request.path == "/monitoreo/rest/" %}
        class="active"
    {% endif %}><a href="/monitoreo/rest/">REST Logs</a></li>
    <li {% if request.path == "/monitoreo/elastic/" %}
        class="active"
    {% endif %}><a href="/monitoreo/elastic/">ElasticSearch Logs</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="">Couchbase Healt</a></li>
    <li><a href="">Elastic Search Healt</a></li>
    <li><a href="">Tomcat Healt</a></li>
    <li><a href="">Vertx Healt</a></li>
</ul>

